
<h2 class="mt-3 mb-5" *ngIf="!isEmployeeProfileExist">Создайте профиль сотрудника</h2>
<h2 class="mt-3 mb-5" *ngIf="isEmployeeProfileExist">Профиль сотрудника</h2>

<form [formGroup]="addEmployeeForm" (ngSubmit)="onAddSubmit()" *ngIf="!isEmployeeProfileExist">

    <div class="form-outline mb-3">
      <input type="text" class="form-control form-control-lg"
        placeholder="Фамилия" formControlName="lastName"/>
    </div>

    <div class="form-outline mb-3">
      <input type="text" class="form-control form-control-lg"
        placeholder="Имя" formControlName="firstName"/>
    </div>

    <div class="form-outline mb-3">
        <input type="text" class="form-control form-control-lg"
          placeholder="Отчество" formControlName="patronymic" />
    </div>

    <div class="text-center text-lg-start mt-4 pt-2">
      <button type="submit" class="btn btn-primary btn-lg">Создать</button>
    </div>
</form>

<form [formGroup]="changeEmployeeForm" (ngSubmit)="onChangeSubmit()" *ngIf="isEmployeeProfileExist">
  <div class="form-outline mb-3">
    <label class="form-label" for="lastName">Фамилия</label>
    <input type="text" class="form-control form-control-lg"
      placeholder="Фамилия" formControlName="lastName" id="lastName"/>
  </div>

  <div class="form-outline mb-3">
    <label class="form-label" for="firstName">Имя</label>
    <input type="text" class="form-control form-control-lg"
      placeholder="Имя" formControlName="firstName" id="firstName"/>
  </div>

  <div class="form-outline mb-3">
      <label class="form-label" for="patronymic">Отчество</label>
      <input type="text" class="form-control form-control-lg"
        placeholder="Отчество" formControlName="patronymic" id="patronymic"/>
  </div>
  <div class="form-outline mb-3">
      <label class="form-label" for="messengerId">
        <i class="bi bi-check-circle" *ngIf="member.isMessengerConfirmed"></i>
        <i class="bi bi-x-circle" *ngIf="!member.isMessengerConfirmed"></i>
        Телеграм
      </label>
      <input type="text" class="form-control form-control-lg"
        placeholder="@Username" formControlName="messengerId" id="messengerId"/>
  </div>

  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" class="btn btn-primary btn-lg">Обновить</button>
  </div>
</form>