<h2 class="text-center mb-5">Задача</h2>


<div class="card border-primary mb-3">
    <div class="card-header">Создатель</div>
    <div class="card-body text-primary">
        <h5 class="card-title">{{creator.lastName}} {{ creator.firstName }}</h5>
    </div>
</div>

<div class="card border-primary mb-3">
    <div class="card-header">{{ status }}</div>
    <div class="card-body text-primary">
        <h5 class="card-title">{{employee.lastName}} {{ employee.firstName }}</h5>
    </div>
</div>

<form *ngIf="!isAdminOrCreator">
    <fieldset disabled>       
        <div class="form-outline mb-3">
            <label class="form-label" for="form1">Заголовок</label>
            <input type="email" id="form1" class="form-control form-control-lg"
                placeholder="" value="{{ taskName }}"/>
        </div>

        <div class="form-outline mb-3">
            <label class="form-label" for="form2">Описание</label>
            <textarea id="form2" class="form-control form-control-lg"
                placeholder="" value="{{ taskDescription }}">  </textarea>
        </div>
    </fieldset>
</form>


<form [formGroup]="updateTaskForm" (ngSubmit)="updateTask()" class="row mb-5" *ngIf="isAdminOrCreator">
    <div class="form-outline mb-2">
      <input type="text" class="form-control form-control-lg"
        placeholder="Название" formControlName="name"/>
    </div>

    <div class="form-outline mb-2">
      <textarea type="text" class="form-control form-control-lg"
        placeholder="Описание" formControlName="description"></textarea>
    </div>
    <div class="text-center text-lg-start">
      <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
    </div>
</form>
<button *ngIf="taskStatus === 2" class="btn btn-dark btn-lg" (click)="returnTask()">Вернуть</button>
