
<h2 class="text-center mb-5">Задачи проекта</h2>

<form [formGroup]="searchTaskForm" (ngSubmit)="searchTask()">
  <div class="form-outline mb-2">
    <input type="text" class="form-control form-control-lg"
    placeholder="Запрос" formControlName="query"/>
  </div>

  <div class="text-center text-lg-start">
    <button type="submit" class="btn btn-primary btn-lg">Поиск</button>
  </div>
</form>
<hr/>

<form [formGroup]="addTaskForm" (ngSubmit)="addTask()" *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isDepartmentManager || isProjectManager)">
    <div class="form-outline mb-2">
      <input type="text" class="form-control form-control-lg"
        placeholder="Название" formControlName="name"/>
    </div>

    <div class="form-outline mb-2">
      <textarea type="text" class="form-control form-control-lg"
        placeholder="Описание" formControlName="description"></textarea>
    </div>
    <div class="text-center text-lg-start">
      <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
    </div>
</form>
<hr/>

<div class="container-fluid">
  <div class="row">

    <div class="col">
      <h5 class="text-center mb-5">Новые задачи</h5>
      <ul class="list-group" *ngFor="let task of todoTasks">
        <a class="list-group-item list-group-item-action mb-2" [href]="'task/about/' + task.id">{{task.name}}</a>
      </ul>
    </div>
  
    <div class="col">
      <h5 class="text-center mb-5">В работе</h5>
      <ul class="list-group" *ngFor="let task of doingTasks">
        <a class="list-group-item list-group-item-action mb-2" [href]="'task/about/' + task.id"><span>{{task.name}}</span></a>
      </ul>
    </div>
  
    <div class="col">
        <h5 class="text-center mb-5">Выполненные</h5>
        <ul class="list-group" *ngFor="let task of doneTasks">
          <a class="list-group-item list-group-item-action mb-2" [href]="'task/about/' + task.id">{{task.name}}</a>
        </ul>
    </div>

  </div>
</div>