
<p-picklist
    [source]="partMembers"
    [target]="members"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="firstName,lastName,patronymic"
    sourceFilterPlaceholder="Поиск"
    targetFilterPlaceholder="Поиск"
    sourceHeader="Участники"
    targetHeader="Свободные"
    breakpoint="1400px"
    scrollHeight="30rem"
    dataKey="id"
    (onMoveToTarget)="onMoveToTarget($event)"
    (onMoveToSource)="onMoveToSource($event)">
    
    <ng-template let-option pTemplate="item">
        <p-card [subheader]="option.firstName + ' ' + option.lastName">
            <ng-template pTemplate="footer">
                <div class="flex align-items-center gap-2">
                    <span>Уровень доступа: </span>
                    <p-tag [value]="option.privilege"></p-tag>
                </div>
            </ng-template>
        </p-card>
    </ng-template>
</p-picklist>