<p-picklist
    [source]="partMembers"
    [target]="members"
    [dragdrop]="true"
    [responsive]="true"
    filterBy="firstName,lastName,patronymic"
    sourceFilterPlaceholder="Поиск"
    targetFilterPlaceholder="Поиск"
    sourceHeader="Участники"
    targetHeader="Свободные"
    breakpoint="1400px"
    scrollHeight="30rem"
    dataKey="id"
    (onMoveToTarget)="onMoveToTarget($event)"
    (onMoveToSource)="onMoveToSource($event)"
    metaKeySelection="false" 
    class="d-flex gap-3 w-100">
    <ng-template let-option pTemplate="item">
        <p-card (dblclick)="doubleClick(option)"
            [subheader]="option.firstName + ' ' + option.lastName" class="w-100"> 
            <ng-template *ngIf="option.privilege != undefined" pTemplate="footer">
                <span>Уровень доступа: </span>
                <p-tag [value]="option.privilege"></p-tag>
            </ng-template>
        </p-card>
    </ng-template>
</p-picklist>