
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center mb-5">Отдел</h2>
    <div class="col">
      <h5 class="text-center mb-5">Сотрудники отдела</h5>
      <ul class="row text-nowrap list-group list-group-flush" *ngFor="let employee of departmentEmployees">
        <li class="list-group-item" *ngIf="partLinksService.isManager(employee.id, department.managerId)">
          <button class="btn btn-dark" *ngIf="authService.isAdmin()" (click)="removeManager()">
            <i class="bi bi-award"></i>
          </button>
          <button class="btn btn-dark" *ngIf="!authService.isAdmin()" >
            <i class="bi bi-award"></i>
          </button>
          <button class="btn btn-light">{{employee.lastName}} {{employee.firstName}}</button>
        </li>

        <li class="list-group-item" *ngIf="!partLinksService.isManager(employee.id, department.managerId)">
          <button class="btn btn-primary" *ngIf="!partLinksService.isManagerExist(department.managerId)&&authService.isAdmin()" (click)="addManager(employee.id)">
            <i class="bi bi-award"></i>
          </button>
          <button class="btn opacity-0" *ngIf="partLinksService.isManagerExist(department.managerId)||!authService.isAdmin()">
            <i class="bi bi-award"></i>
          </button>
          <button class="btn btn-light" (click)="RemoveEmployeeFromDepartment(employee.id)">{{employee.lastName}} {{employee.firstName}}</button>
        </li>
      </ul>
    </div>
    <div class="col">
      <h5 class="text-center text-nowrap mb-5">Свободные сотрудники</h5>
      <ul class="list-group list-group-flush" *ngFor="let employee of employees">
        <li class="list-group-item mb-2" (click)="AddEmployeeToDepartment(employee.id)">
          <button class="btn btn-light">
            {{employee.lastName}} {{employee.firstName}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
