
<h2 class="text-center mb-5">Ваши задачи</h2>

<div class="row">
    <div class="col-md-6">
      <h5 class="text-nowrap text-center">Доступные задачи</h5>
      <ul class="list-group list-group-flush text-nowrap mb-2"  *ngFor="let task of tasks">
        <li class="list-group-item">
          <button class="btn btn-dark" (click)="ChooseTask(task.id)">
            <i class="bi bi-caret-right"></i>
          </button>
          <a class="btn btn-light" [href]="'/task/about/' + task.id">
            {{task.name}}
          </a>
        </li>
      </ul>
    </div>
  
    <div class="col-md-6">
      <h5 class="text-nowrap text-center">Мои задачи</h5>
      <ul class="list-group list-group-flush text-nowrap mb-2" *ngFor="let task of myTasks">
        <li class="list-group-item">
          <button class="btn btn-dark" (click)="completeTask(task.id)">
            <i class="bi bi-circle"></i>
          </button>
          <a class="btn btn-light">
            {{task.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>