<p-toast />
<h2 class="text-center mb-5">Информация о задаче</h2>

<form *ngIf="!hasAccessForEdit">
    <fieldset disabled>       
        <div class="form-outline mb-3">
            <label class="form-label" for="form1">Заголовок</label>
            <input type="text" id="form1" class="form-control form-control-lg"
                placeholder="" value="{{ taskName }}"/>
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" for="form2">Описание</label>
            <textarea id="form2" class="form-control form-control-lg"
                placeholder="" value="{{ taskDescription }}">  </textarea>
        </div>
    </fieldset>
</form>

<form [formGroup]="updateTaskForm" (ngSubmit)="updateTask()" class="row mb-5" *ngIf="hasAccessForEdit">
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-primary btn-lg">Обновить</button>
      <p-button severity="danger" label="Удалить" (click)="removeTask()"/>
    </div>
    <div class="form-outline mb-2">
      <input type="text" class="form-control form-control-lg"
        placeholder="Название" formControlName="name"/>
    </div>
    <p-editor class="form-outline mb-2" placeholder="Описание" formControlName="description"/>
    <div class="form-outline mb-2 flex-row">
      <label class="form-label mt-2">Статус</label>
      <select name="select" class="form-control form-control-lg" 
          type="select" formControlName="status">
        <option *ngFor="let status of this.selectedStatuses" [value]="status.order" class="text-primary">
             {{status.name}} 
        </option>
      </select>
    </div>
    <label class="form-label mt-2" for="endDate">Крайний срок</label>
    <p-datepicker id="endDate" [showIcon]="true" [showTime]="true"
      hourFormat="24" dateFormat="dd-mm-yy" formControlName="deadline"
      class="d-flex flex-fill flex-column mb-2" appendTo="body"/>
    <div class="form-outline mb-2 flex-row">
      <label class="form-label mt-2">Приоритет</label>
      <select name="select" class="form-control form-control-lg" 
          type="select" formControlName="priority">
        <option value="0" class="text-primary"> Обычный </option>
        <option value="1" class="text-warning"> Средний </option>
        <option value="2" class="text-danger"> Высокий </option>
        <option value="3" class="text-danger bg-dark"> Экстремальный </option>
      </select>
    </div>
    <div class="form-outline mb-2 flex-row">
      <label class="form-label mt-2">Тип задачи</label>
      <select name="select" class="form-control form-control-lg" 
          type="select" formControlName="taskType">
        <option *ngFor="let type of this.types" [value]="type.id">{{type.name}}</option>
      </select>
    </div>
    <label class="form-label mt-2">Путь задачи</label>
    <p-listbox 
      [options]="statuses" 
      formControlName="selectedStatusColumns"
      optionLabel="name" 
      optionDisabled="isFixed"
      [multiple]="true" 
      [metaKeySelection]="false"
      class="w-full md:w-56">
    </p-listbox>
</form>

<p-tabs [value]="value" scrollable>
    <p-tablist>
        <p-tab [value]="0">Участники</p-tab>
        <p-tab [value]="1">История</p-tab>
        <p-tab [value]="2">Комментарии</p-tab>
        <p-tab [value]="3">Файлы</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel [value]="0">
            <p-card class="p-2">
                <ng-template #title>
                    <div class="bg-white card-header">
                        <i class="bi bi-brush"></i>
                        Создатель
                    </div>
                </ng-template>
                <ng-template #content>
                    <div class="card-body text-primary">
                        <a [href]="'member/about/' + creator.id" class="card-title h5">{{creator.lastName}} {{ creator.firstName }}</a>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="p-1">
                <ng-template #title>
                    <div class="bg-white card-header">
                        <i class="bi bi-person-lines-fill"></i>
                        Исполнители
                    </div>
                </ng-template>
                <ng-template #content>
                    <div class="d-flex text-primary justify-content-between mb-2" 
                        *ngFor="let member of members">
                        <a [href]="'member/about/' + member.id" class="card-title h5">
                            {{member.lastName}} {{ member.firstName }}
                        </a>
                        <button *ngIf="hasAccessForEdit" class="btn btn-danger text-white btn-outline-danger"
                            (click)="removeMemberFromTask(member)">
                            &times;
                        </button>
                    </div>
                    <p-button 
                        *ngIf="hasAccessForEdit" 
                        (click)="showAddMemberToTaskForm()" 
                        label="Добавить исполнителя">
                    </p-button>
                </ng-template>
            </p-card>
        </p-tabpanel>
        <p-tabpanel [value]="1">
            <p-card class="p-1" *ngFor="let history of taskHistory">
                <ng-template pTemplate="footer">
                    <div class="card-header">
                        <span>{{ history.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
                    </div>
                </ng-template>
                <div>
                    <div class="d-flex flex-nowrap" *ngIf="history.initiator" [ngSwitch]="history.actionType">
                        <span class="text-primary p-1">
                            <i class="bi bi-clock-history"></i>
                            {{ history.initiator.firstName }} {{ history.initiator.lastName }}
                        </span>
                        <span *ngSwitchCase="TaskActionType.Created" class="p-1">
                            создал задачу
                        </span>
                        <span *ngSwitchCase="TaskActionType.MemberAdded" class="p-1">
                            добавил исполнителя к задаче
                        </span>
                        <span *ngSwitchCase="TaskActionType.Commented" class="p-1">
                            оставил комментарий к задаче
                        </span>
                        <span *ngSwitchCase="TaskActionType.Reassigned" class="p-1">
                            удалил исполнителя с задачи
                        </span>
                        <span *ngSwitchCase="TaskActionType.StatusChanged" class="p-1">
                            обновил статус задачи
                        </span>
                        <span *ngSwitchCase="TaskActionType.FileAdded" class="p-1">
                            добавил файл
                        </span>
                        <span *ngSwitchCase="TaskActionType.FileRemoved" class="p-1">
                            удалил файл
                        </span>
                    </div>
                    <div class="row text-truncate">
                        <span *ngIf="history.name" class="mb-2">{{history.name}}</span>
                    </div>
                    <div class="row text-truncate">
                        <label *ngIf="history.description" class="text-muted">Описание: </label>
                        <span *ngIf="history.description" class="mb-2" [innerHTML]="history.description"></span>
                    </div>
                    <div class="d-flex flex-nowrap mb-2" 
                        *ngIf="history.destinationStatusId != undefined && history.sourceStatusId != undefined">
                        <span class="text-muted small rounded-1 p-2" 
                            [style.background]="getStatusColor(history.sourceStatusId)">
                            {{getStatusNameByOrder(history.sourceStatusId)}}
                        </span>
                        <i class="bi bi-arrow-right p-2"></i>
                        <span class="text-muted small rounded-1 p-2" 
                            [style.background]="getStatusColor(history.destinationStatusId)">
                            {{getStatusNameByOrder(history.destinationStatusId)}}
                        </span>
                    </div>
                    <div *ngIf="history.targetMember" class="mb-2">
                        <span class="text-muted">
                            Исполнитель: {{ history.targetMember.firstName }} {{ history.targetMember.lastName }}
                        </span>
                    </div>
                </div>
            </p-card>
        </p-tabpanel>
        <p-tabpanel [value]="2">
            <form class="forg-group" [formGroup]="addMessageForm" (ngSubmit)="onMessageSend()" 
                *ngIf="hasAccessForEdit || isTaskMember">
                <div class="form-outline mb-2 flex-row">
                    <p-editor class="form-outline mb-2" placeholder="Сообщение" formControlName="message"/>
                </div>
                <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
                </div>
            </form>
            <div class="mt-3">
                <div class="mb-3" *ngFor="let msg of messages">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold">
                            {{ msg.creator?.firstName }} {{ msg.creator?.lastName }} 
                            [{{msg.createdAt | date:'dd.MM.yyyy HH:mm'}}]
                        </div>
                        @if (this.hasAccessForEdit)
                        {
                            <button class="btn btn-danger" (click)="onMessageRemove(msg.id!)">&times;</button>
                        }
                    </div>

                    <div [innerHTML]="msg.message"></div>
                </div>
            </div>
        </p-tabpanel>
        <p-tabpanel [value]="3">
            <p-fileupload 
                #fileUploader
                name="demo[]"
                [customUpload]="true"
                (uploadHandler)="onUpload($event)"
                [multiple]="false"
                [disabled]="!hasAccessForEdit && !isTaskMember"
                maxFileSize="1000000" 
                mode="advanced">
                <ng-template #empty>
                    <div>Перенесите файлы для загрузки.</div>
                </ng-template>
                <ng-template #content>
                    <ul *ngIf="uploadedFiles.length > 0" class="file-list">
                        <li class="d-flex justify-content-between mt-1" *ngFor="let file of uploadedFiles">
                            @if (isTaskMember || hasAccessForEdit) {
                                <a href="#" (click)="download(file.fileName); $event.preventDefault()">
                                    [{{ file.createdAt | date:'dd.MM.yyyy HH:mm' }}] {{ file.fileName }}
                                </a>
                            }
                            @else {
                                <label>
                                    [{{ file.createdAt | date:'dd.MM.yyyy HH:mm' }}] {{ file.fileName }}
                                </label>
                            }
                            <button *ngIf="hasAccessForEdit" class="btn btn-danger text-white btn-outline-danger"
                                (click)="removeFileFromTask(file.fileName)">
                                &times;
                            </button>
                        </li>
                    </ul>
                </ng-template>
            </p-fileupload>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<p-dialog header="Добавление исполнителя" [modal]="true" [(visible)]="isAddMemberFormVisible">
  <form class="forg-group" [formGroup]="addMemberForm" (ngSubmit)="addTaskToMember()" 
    *ngIf="hasAccessForEdit">
    <div class="form-outline mb-2 flex-row">
      <select name="select" class="form-control form-control-lg" 
            type="select" formControlName="member">
        <option *ngFor="let member of availableMembers" [ngValue]="member">
            {{member.firstName}} {{member.lastName}}
        </option>
      </select>
    </div>
    <div class="d-flex justify-content-between">
      <p-button label="Отменить" severity="secondary" (click)="isAddMemberFormVisible = false" />
      <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
    </div>
  </form>
</p-dialog>