<p-panel [toggleable]="true" [collapsed]="true">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h1 class="font-bold">Задачи</h1>
        </div>
    </ng-template>
    <form [formGroup]="addTaskForm" (ngSubmit)="addTask()" *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isLeader)">
      <div class="form-outline mb-2">
        <input type="text" class="form-control form-control-lg"
          placeholder="Название" formControlName="name"/>
      </div>
      <p-editor class="form-outline mb-2" placeholder="Описание" formControlName="description"/>
      <p-datepicker class="form-outline mb-2" [showTime]="true" hourFormat="24" dateFormat="dd-mm-yy" formControlName="deadlineDate" />
      <div class="text-center text-lg-start mt-2">
        <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
      </div>
    </form>
</p-panel>

<p-card>
  <form [formGroup]="searchTaskForm" (ngSubmit)="searchTask()">
    <div class="form-outline mb-2">
      <input type="text" class="form-control form-control-lg"
      placeholder="Запрос" formControlName="query"/>
    </div>
    <div class="text-center text-lg-start">
      <button type="submit" class="btn btn-primary btn-lg">Поиск</button>
    </div>
  </form>
</p-card>

<div class="container-fluid row p-0 mt-2">
  <p-panel
    *ngFor="let col of statusColumns"
    [header]="col.label"
    pDroppable
    (onDrop)="drop(col.status)"
    class="col-md-3 mb-2">
      <p-card
        *ngFor="let task of getTaskByStatus(tasks, col.status)"
        pDraggable
        (onDragStart)="dragStart(task)"
        (onDragEnds)="dragEnd()"
        (dblclick)="doubleClick(task)"
        dropEffect="link"
        class="card mb-2"
        [ngClass]="'border-' + col.color">
        <h6 class="">{{ task.name }}</h6>
        <small class="text-muted">
          {{ task.memberName }} {{ task.memberLastName }}
        </small>
    </p-card>
  </p-panel>
</div>