<p-panel [toggleable]="true" [collapsed]="true">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h1 class="font-bold">Задачи</h1>
        </div>
    </ng-template>
    <form class="forg-group" [formGroup]="addTaskForm" (ngSubmit)="addTask()" 
      *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isLeader)">
      <div class="form-outline mb-2">
        <input type="text" class="form-control form-control-lg"
          placeholder="Название" formControlName="name"/>
      </div>
      <p-editor class="form-outline mb-2" placeholder="Описание" formControlName="description"/>

      <label class="form-label mt-2" for="startDate">Дата начала</label>
      <p-datepicker id="startDate" [showIcon]="true" class="d-flex w-100" [showTime]="true" 
        hourFormat="24" dateFormat="dd-mm-yy" formControlName="startDate" />
      <label class="form-label mt-2" for="endDate">Крайний срок</label>
      <p-datepicker id="endDate" [showIcon]="true" class="d-flex w-100" [showTime]="true" 
        hourFormat="24" dateFormat="dd-mm-yy" formControlName="deadlineDate" />
      <div class="text-center text-lg-start mt-2">
        <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
      </div>
    </form>
</p-panel>

<p-card class="">
  <form [formGroup]="searchTaskForm" (ngSubmit)="searchTask()">
    <div class="form-outline mb-2">
      <input type="text" class="form-control form-control-lg"
        placeholder="Запрос" formControlName="query"/>
    </div>
    <div class="text-center text-lg-start">
      <button type="submit" class="btn btn-primary btn-lg">Поиск</button>
    </div>
  </form>
</p-card>

<div class="d-flex flex-wrap gap-3 mb-3 mt-3">
  <div *ngFor="let col of statusColumns" 
       class="flex-grow-1" 
       style="min-width: 250px; max-width: 300px;">
    <p-panel [header]="col.name" 
             pDroppable 
             (onDrop)="drop(col.order!)"
             class="h-100">
      <div class="d-flex flex-column gap-2">
        <p-card *ngFor="let task of getTaskByStatus(tasks, col.order!)"
                pDraggable
                (onDragStart)="dragStart(task)"
                (onDragEnd)="dragEnd()"
                (dblclick)="doubleClick(task)"
                class="border-primary">
          <h6 class="mb-1">{{ task.name }}</h6>
          <small class="text-muted">
            {{ task.memberName }} {{ task.memberLastName }}
          </small>
        </p-card>
      </div>
    </p-panel>
  </div>
</div>