<div class="d-flex justify-content-between mb-2" 
  *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isPartLeader || authService.isSpaceOwner())">
  <p-button severity="secondary" (click)="showAddPartDialog()" label="Добавить"/>
</div>

<p-dialog [modal]="true" [(visible)]="isPartDialogActive" (onHide)="cancelDialog()">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h1 class="font-bold">Добавление сущности</h1>
        </div>
    </ng-template>
        <form [formGroup]="addPartForm" (ngSubmit)="onSubmit()" class="row mb-5" 
          *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isPartLeader || authService.isSpaceOwner())">
        <div class="form-outline mb-2">
          <input type="text" class="form-control form-control-lg"
            placeholder="Название" formControlName="name"/>
        </div>
        <div class="form-outline mb-2">
          <label for="type-form">Тип сущности</label>
          <select class="form-control form-control-lg" id="type-form" formControlName="type">
            <option *ngFor="let partType of partTypes" [value]="partType.id">{{partType.name}}</option>
          </select>
        </div>
        <p-editor class="form-outline"
            placeholder="Описание" formControlName="description"></p-editor>
        <div class="d-flex justify-content-between mt-2 gap-2">
          <p-button label="Отменить" severity="secondary" (click)="cancelDialog()" />
          <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
        </div>
    </form>
</p-dialog>

<p-card>
  <p-tree [value]="items" styleClass="w-full md:w-[30rem]" 
      [draggableNodes]="true" [droppableNodes]="true" 
      selectionMode="single"
      draggableScope="tree-scope"
      droppableScope="tree-scope" 
      (onNodeDrop)="onChanges($event)"
      (onNodeSelect)="choosePart($event)"
      (onNodeUnselect)="unselectPart($event)"
      [selection]="this.selectedNode"
      [lazy]="true"/>
</p-card>