<p-panel [toggleable]="true" [collapsed]="true">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h1 class="font-bold">Иерархия</h1>
        </div>
    </ng-template>
        <form [formGroup]="addPartForm" (ngSubmit)="OnSubmit()" class="row mb-5" *ngIf="authService.isAuthenticated()&&(authService.isAdmin() || isPartLeader || authService.isSpaceOwner())">
        <div class="form-outline mb-2">
          <input type="text" class="form-control form-control-lg"
            placeholder="Название" formControlName="name"/>
        </div>
        <div class="form-outline mb-2">
          <label for="type-form">Тип сущности</label>
          <select class="form-control form-control-lg" id="type-form" formControlName="type">
            <option *ngFor="let partType of partTypes" [value]="partType.id">{{partType.name}}</option>
          </select>
        </div>
        <p-editor class="form-outline"
            placeholder="Описание" formControlName="description"></p-editor>
        <div class="text-center text-lg-start mt-2">
          <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
        </div>
    </form>
</p-panel>

<p-card>
  <p-tree [value]="items" styleClass="w-full md:w-[30rem]" 
      [draggableNodes]="true" [droppableNodes]="true" 
      selectionMode="single"
      draggableScope="tree-scope"
      droppableScope="tree-scope" 
      (onNodeDrop)="OnChanges($event)"
      (onNodeSelect)="ChoosePart($event)"
      [selection]="this.selectedNode"/>
</p-card>