
<div class="row">
    <div class="col-md-6">
      <h5>Сотрудники проекта</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let employee of projectEmployees">
          <button class="btn mb-2 w-100" (click)="RemoveEmployeeFromProject(employee.id)">{{employee.lastName}} {{employee.firstName}}</button>
        </li>
      </ul>
    </div>
  
    <div class="col-md-6">
      <h5 class="text-nowrap">Свободные сотрудники</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let employee of employees">
          <button class="btn mb-2 w-100" (click)="AddEmployeeToProject(employee.id)">{{employee.lastName}} {{employee.firstName}}</button>
        </li>
      </ul>
    </div>
  </div>
