
<h2 class="text-center mb-5">Компания</h2>
<form class="vh-100">
    <fieldset disabled>
        <div class="form-outline mb-3">
            <label class="form-label" for="form1">Название</label>
            <input type="email" id="form1" class="form-control form-control-lg"
                placeholder="" value="{{ companyName }}"/>
        </div>

        <div class="form-outline mb-3">
            <label class="form-label" for="form2">Описание</label>
            <textarea id="form2" class="form-control form-control-lg"
                placeholder="" value="{{ companyDescription }}">  </textarea>
        </div>
    </fieldset>
</form>